.wrapper {
    display: flex;
}

.itemChat {
    width: 450px;
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
}
.wrapListFriends {
    height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--border);
        border-radius: 10px;
    }
}

.wrapListGroup {
    height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--border);
        border-radius: 10px;
    }
}

.wrapFriendRequestList {
    height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--border);
        border-radius: 10px;
    }
}

.container {
    display: flex;
}

.avatarImg {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid var(--color-font);
}

.nav {
    border-right: 1px solid var(--border);
    height: 100vh;
}

.listFriends {
    width: 343px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    &:hover {
        background-color: var(--background-box);
        cursor: pointer;
    }
}
.icon {
    font-size: 20px;
    margin-left: 30px;
}
.title {
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
}
.listAcceptFriends {
    width: 343px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    &:hover {
        background-color: var(--background-box);
        cursor: pointer;
    }
}

.listGroup {
    width: 343px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    &:hover {
        background-color: var(--background-box);
        cursor: pointer;
    }
}

.listFriends.active,
.listAcceptFriends.active,
.listGroup.active {
    background-color: #0091ff22;
}
