.wrapper {
    min-height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}

.Info {
    display: flex;
    align-items: center;
}

.wrapIcon {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    &:hover {
        background-color: var(--background-box);
        border-radius: 5px;
    }
}

.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    margin-left: 10px;
}

.avatarImg {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid var(--color-font);
    margin-left: 15px;
}

.popup {
    position: absolute;
    top: 40px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.popup ul li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

.popup ul li:hover {
    background-color: #f0f0f0;
}

.popup button {
    border: none;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text */
    padding: 8px 16px; /* Padding around the text */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

.popup button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
