.wrapper {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0px;
    }
}
.ItemChatWrap {
    cursor: pointer;
    height: 74px;
    border: 1px solid var(--border);
    &:hover {
        background-color: var(--background-box);
    }
}
.BoxChatItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    margin: 15px 0px 15px 10px;
}

.content {
    margin-right: 50px;
    margin-bottom: 10px;
}
.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
}
.content-chat {
    font-size: 14px;
    font-weight: 500;
}
.time {
    font-size: 14px;
    font-weight: 500;
    margin-right: 15px;
    margin-bottom: 27px;
}

.email {
    font-size: 14px;
    font-weight: 500;
}

.iconRequestFriend {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 1px;
    bottom: 8px;
}
.icon {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    &:hover {
        background-color: var(--border);
    }
}

.iconAcceptFriends {
    display: flex;
    position: relative;
}
.iconAccept {
    position: absolute;
    border-radius: 5px;
    padding: 8px;
    background-color: var(--background-box);
    color: var(--primary);
    border: 1px solid var(--primary);
    margin-left: 10px;
    right: 10px;
    top: -20px;
    opacity: 1;
    &:hover {
        opacity: 0.7;
    }
}
.iconDecline {
    position: absolute;
    right: 60px;
    top: -20px;
    border-radius: 5px;
    padding: 8px;
    background-color: var(--background-box);
    border: 1px solid rgba(0, 0, 0, 0.483);
    opacity: 1;
    &:hover {
        opacity: 0.7;
    }
}
