.wrapper {
    background-color: var(--background);
    border-bottom: 1px solid var(--border);
    height: 96px;
}
.container {
    display: flex;
    align-items: center;
}

.iconAdd {
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-right: 10px;
}
.icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    &:hover {
        background-color: var(--background-box);
    }
}
