@mixin btnRegister {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    font-size: 16px;
    background-color: #0190f3;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    font-weight: 500;
    border: 0 none;
}
.container {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    .register {
        margin-top: 80px;
        width: 400px;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0);

        .register_title {
            font-size: 1.1rem;
            color: #333;
            font-weight: 400;
            text-align: center;
            line-height: 2rem;
            margin-bottom: 1rem;
        }

        form {
            background: #fff;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px;

            .register_form_input {
                position: relative;
                width: 100%;
                margin-bottom: 2rem;
                border-bottom: 1px solid #eee;

                input {
                    width: 90%;
                    padding: 8px 10px 8px 25px;
                    font-size: 16px;
                    border: none;
                    outline: none;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                span {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    font-size: 14px;
                }
            }

            .btn {
                @include btnRegister;
            }

            .toLogin {
                margin-top: 0.5rem;

                a {
                    color: gray;
                    font-size: 0.75em;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: underline;
                        color: blue;
                        transition: 0.3s;
                    }
                }
            }

            .error {
                color: red;
                position: absolute;
                font-size: 12px;
                bottom: -22px;
                left: 0;

                visibility: visible;
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .container {
        .register {
            width: 350px;
        }
    }
}

@media screen and (max-width: 370px) {
    .container {
        .register {
            width: 300px;
        }
    }
}
.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
    margin-right: 10px;
    font-size: 16px;
}

.radio-group input[type='radio'] {
    margin-right: 5px;
}

.radio-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup h2 {
    margin-bottom: 10px;
}

.otp-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.otp-input {
    width: calc(100% / 6 - 5px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}
